*
{
	background: rgb(9,57,121);
}
body {
	display: flex;
}
h1 {
	size: 30%;
	font-family: "JetBrains Mono",monospace;
	color: #fff;
}
body > div { 
	flex-basis: 50%;
	align-items: center;
  	justify-content: center;
	background: transparent;
}
form {
	background: transparent;
}
textarea {
	
	width: 75%;
	height: 71vh;
	background: white;
	resize: none;
}
img {
	margin-top: 25%;
	width: 90%;
	background: white;
	resize: none;
	height: 50vh;
}

.button1 {
	text-decoration: none;
	text-shadow: none;
	list-style-type: none;
	align-items: center;
	background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
	border: 0;
	border-radius: 6px;
  	box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  	box-sizing: border-box;
  	color: #fff;
  	cursor: pointer;
	display: inline-flex;
	font-family: "JetBrains Mono",monospace;
	height: 48px;
	padding-left: 16px;
 	padding-right: 16px;
  	position: relative;
	font-size: 18px;
}
.button1:hover {
	box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}
.button1:hover {
	box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
	transform: translateY(-2px);
  }
  
.button1:active {
	box-shadow: #3c4fe0 0 3px 7px inset;
	transform: translateY(1px);
  }
